.body {
  font-family: Arial, Helvetica, sans-serif;
}
.todo-grid,
.data-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
}
.data-grid {
  margin-bottom: 10px;
}
.name-input,
.date-input {
  padding: 6px;
  font-size: 15px;
}
.add-btn,
.del-btn {
  padding: 6px;
  border-radius: 10px;
  border: none;
  background-color: rgb(5, 254, 59);
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
}
.del-btn {
  background-color: rgb(254, 5, 22);
}
